@{
    ViewData["Title"] = "Graphical Data";
}

<h1>@ViewData["Title"]</h1>

<header>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</header>
<body>
    <select id="selectorX">
        <option value="Invalid" hidden>Please Choose a X-Value</option>
    </select>
    <select id="selectorY">
        <option value="Invalid" hidden>Please Choose a Y-Value</option>
    </select>
    <input id="titleForm" type="text" name="Title:" size="40" onchange="">

    <button onclick="SetupChart()" id="Generator">Show Chart</button>
    <div class="container">
        <div id="container-fluid" class="container-fluid"></div>
        <p id="jsonLiteral"></p>
    </div>
<script type="text/javascript">
        google.charts.load('visualization', { packages: ['corechart'] });
        var X, Y, Title, select;
        var data = {};
        var headers = {};

        ReadAll();

        const type = input =>
            Object.prototype.toString.call(input).replace(/(\[object |\])/ig, '').toLowerCase();

        function SetSelections() {
            for (i in headers) {
                makeOption('selectorX', headers[i], headers[i]);
                makeOption('selectorY', headers[i], headers[i]);
            }
            makeOption('selectorY', 'COUNT', 'Count');
        }

        function count_times(arr) {
            occurrences = arr.reduce(function (occ, item) {
                occ[item] = (occ[item] || 0) + 1;
                return occ;
            }, {});
            return occurrences;
        }
        
        function makeElement(_base, _elementType, _text) {
            var newElement = document.createElement(_elementType);
            var text = document.createTextNode(_text);
            var base = document.getElementById(_base);
            newElement.appendChild(text);
            base.appendChild(newElement);
        }

        function makeOption(_base, _value, _text) {
            var newElement = document.createElement("Option");
            var text = document.createTextNode(_text);
            var base = document.getElementById(_base);
            newElement.appendChild(text);
            newElement.value = _value;
            base.appendChild(newElement);
        }

        function SetupChart() {

            getOpts('X');
            getOpts('Y');
            getOpts('TITLE');
            for (i in headers) {
                if (headers[i] != X) continue;
                X = Object.values(data[headers[i]]);
            }
            if (Y != 'COUNT') {
                for (i in headers) {
                    if (headers[i] != Y) continue;
                    Y = Object.values(data[headers[i]]);
                }
            } else {
                var timesCounted = count_times(X);
                X = Object.keys(timesCounted);
                Y = Object.values(timesCounted);
            }
            var cdata = new google.visualization.DataTable();
            cdata.addColumn(type(X[0]), X);
            cdata.addColumn(type(Y[0]), Y);
           
            var count = Object.keys(X).length;
          
            cdata.addRows(count);

            for (var i = 0; i < count; i++) {
                cdata.setCell(i, 0, X[i]);
                cdata.setCell(i, 1, Y[i]);
            }

            var options = {
                title: Title,
                curveType: 'function',
                legend: 'none',  // You can position the legend on 'top' or at the 'bottom'.
                tooltip: 'none'
            };

            var bar_chart = new google.visualization.ColumnChart(document.getElementById('container-fluid'));
            bar_chart.draw(cdata, options);      // Draw the chart with Options
        }

        function getOpts(variable) {
            console.log("opt 1");
            if (variable == 'X') {
                var elem = document.getElementById('selectorX').value;
                if (elem == "Invalid") alert("Please choose an X-Value");
                else X = elem;
            }
            if (variable == 'Y') {
                var elem = document.getElementById('selectorY').value;
                if (elem == "Invalid") alert("Please choose an Y-Value");
                else Y = elem;
            }
            if (variable == 'TITLE') {
                var elem = document.getElementById('titleForm').value;
                if (elem == "Invalid") alert("Please Give the Graph a title");
                else Title = elem;
            } else { }
        }

        function ReadAll() {
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "https://localhost:44391/api/Metrics",
                    //url: "http://penguinsapi.us-east-1.elasticbeanstalk.com/api/Metrics", //Uncomment when redeployed
                    data: "{}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (result) {
                        //Gets a list of the headers from the keys of the first element returned by the database.
                        headers = Object.keys(result[0]);

                        //Appends each each header to a key in the JS Object along with an empty array
                        for (i in headers) {
                            data = Object.assign(
                                data, { [headers[i]]: [] }
                            );
                        }

                        //Takes each item and pushes each value to the appropriate array.
                        $.each(result, function (key, item) {
                            var session_data = Object.values(item);
                            for (i in headers)
                                data[headers[i]].push(session_data[i]);
                        });
                        for (i in headers)
                            console.log("Data [" + headers[i] + "]: " + Object.values(data[headers[i]]));

                        SetSelections();
                    },
                    error: function (errormessage) {
                        $('#h2').html(errormessage.responseText);
                        return false;
                    }
                });
            });
        }
    </script>

</body>


